body{
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1fa4cc; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1fa4cc; 
}

.about-section{
    margin: 30px;
    background: #dbf3ff;
    padding: 20px;
    border-radius: 10px;
}

.about-heading{
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.about{
    display: flex;
    font-size: 20px;
    font-weight: 500;
}
