.cart-section{
    width: 93.5%;
    padding: 20px 5vw;
    display: flex;
    justify-content: space-between;
    background: #dbf3ff;
    border-radius: 10px;
    margin: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}

.product-list{
    width: 40%
}

.checkout-section{
    width: 28%;
}

.section-heading{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}

.section-heading1{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
    margin-top: 40px;
}

.cart .wishlist{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.sm-product{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #1fa4cc;
    padding: 20px;
    padding-left: 0px;
}

.cart .sm-product:last-child, .wishlist .sm-product:last-child{
    margin-bottom: 0px;
}

.sm-product-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.sm-text{
    width: 50%;
    margin-left: 20px;
}

.sm-product-name{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}

.sm-des{
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 5px;
}

.item-counter{
    width: 90px;
    height: 30px;
    display: flex;
    margin-right: 20px;
}

.counter-btn, .item-count{
    width: 30px;
    height: 30px;
}

.counter-btn{
    border: none;
    background: #f3f3f3;
    border: 1px solid #1fa4cc;
    border-radius: 1px;
    cursor: pointer;
}

.item-count{
    text-align: center;
    line-height: 30px;
    background: #1fa4cc;
    color: white;
    font-weight: bold;
}

.add-to-cart{
    text-align: center;
    font-size: 14px;
    background: #1fa4cc;
    width: 115px;
    color: white;
    font-weight: bold;
    border: none;
    margin-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}

.sm-price{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.sm-delete-btn{
    position: absolute;
    top: 5%;
    left: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: #fff;
    cursor: pointer;
}

.sm-delete-btn2{
    position: absolute;
    top: 5%;
    left: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: #fff;
    cursor: pointer;
}

.sm-delete-btn img{
    width: 20px;
    height: 20px;
}

.sm-delete-btn2 img{
    width: 20px;
    height: 20px;
}

.empty-cart{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #1fa4cc;
}

.checkout-box{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid #1fa4cc;
    padding: 20px;
    margin: 10px;
    margin-top: 70px;
}

.text{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
}

.checkout-btn{
    width: 100%;
    height: 50px;
    border: none;
    background: #1fa4cc;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.bill{
    font-size: 30px;
    margin-bottom: 35px;
}

.checkoutgif{
    width: 312.5px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}
