footer {
    position: absolute;
    width: 100%;
    margin-top: auto;
    padding: 30px 10vw;
    padding-bottom: 80px;
    background: #1fa4cc4a;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo {
    height: 160px;
}

.company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
}

.company-name {
    font-size: 25px;
    color: #1fa4cc;
    font-weight: bold;
    text-transform: capitalize;
    margin: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

.company-address {
    font-size: 18px;
    color: #1fa4cc;
    text-transform: capitalize;
    margin: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
}

.social-link {
    margin: 5px;
}

.social-link1 {
    margin: 5px;
    margin-left: 0;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.footer-ul-container {
    border: #1fa4cc 1px solid;
    border-radius: 30px;
    height: fit-content;
    padding: 10px;
    width: fit-content;
    margin-top: 20px;
}

.footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.footer-ul li {
    list-style: none;
    font-size: 18px;
    color: #1fa4cc;
    font-weight: bold;
    text-transform: capitalize;
    margin: 5px;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
    color: #1fa4cc;
}

.footer-credit {
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    border-top: 3px solid #1fa4cc;
}

.logo {
    border-radius: 30px;
}

.four-0-four-image {
    width: 600px;
    height: 300px;
    justify-content: center;
    display: absolute;
    position: absolute;
    left: 30%;
    top: 35%;
}

.four-0-four-msg {
    width: 100%;
    height: 100px;
    justify-content: center;
    display: absolute;
    position: absolute;
    left: 38%;
    top: 80%;
}