@import "nav.css";
@import "footer.css";

html {
    scroll-behavior: smooth;
}

.hero-section{
    width: 100%;
    height: calc(100vh - 0px);
    background-image: linear-gradient(rgba(113, 168, 196, 0.527), rgba(0, 0, 0, 0.5), transparent),url('../images/header.jpg');
    background-size: cover;
    display: flex;
    align-items: left;
    align-items: center;
}

.hero-section .sub-heading{
    text-align: left;
    color: #fff;
    width: 100%;
    height: calc(100vh - 0px);
    text-transform: capitalize;
    font-size: 90px;
    font-weight: 300;
    padding-left: 50px;
    padding-top: 250px;
}

body{
    overflow: overlay;
}

::-webkit-scrollbar {
    display: none;
}

.product{
    position: relative;
    overflow: hidden;
}

.product-category{
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 10px;
    color: #8a30f7;
    border: 1px solid #8a30f7;
    width: fit-content;
    border-radius: 10px;
}

.product-category1{
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 60px;
    color: #ee7c19;
    border: 1px solid #ee7c19;
    width: fit-content;
    border-radius: 10px;
}

.product-category2{
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 40px;
    color: deeppink;
    border: 1px solid deeppink;
    width: fit-content;
    border-radius: 10px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    padding-left: 2.8vw;
    height: auto;
    width: auto;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-container2::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 60px;
    padding-bottom: 5px;
    margin-right: 85px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;   
    box-shadow: 5px 5px #383838;
}

.product-image{
    position: relative;
    width: 100%;
    height: 245px;
    overflow: hidden;
}

.product-image img{
    display: block;
    margin: auto;
}

.product-thumb{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #8a30f7;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    right: 72%;
    top: 10px;
    text-transform: capitalize;
    opacity: 1;
}

.discount-tag2{
    position: absolute;
    background: deeppink;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    right: 72%;
    top: 10px;
    text-transform: capitalize;
    opacity: 1;
}

.card-btn2{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    color: #fff;
    outline: none;
    font-weight: bold;
    background: deeppink;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn2{
    opacity: 5;
}

.Usage{
    width: auto;
    height: 27px;
    padding: 0px;
    background: #8a30f7;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}

.usage2{
    width: auto;
    height: 27px;
    padding: 0px;
    background: deeppink;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    color: #fff;
    outline: none;
    font-weight: bold;
    background: #8a30f7;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 5;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 4px;
    text-decoration: none;
    color: black;
}

.product-short-des{
    text-transform: none;
    font-size: 15px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    color: black;
    opacity: 1;
}

.price{
    font-weight: bold;
    font-size: 20px;
}

.actual-price{
    margin-left: 10px;
    opacity: 0.5;
    font-size: 20px;
    text-decoration: line-through;
}

.product-container1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    padding-left: 2.8vw;
    height: auto;
    width: auto;
}

.product-container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    padding-left: 2.8vw;
    height: auto;
    width: auto;
}

.product-container1::-webkit-scrollbar{
    display: none;
}

.product-card1{
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-right: 85px;
    margin-bottom: 5px;
    box-shadow: 5px 5px #383838;
    border: 1px solid black;
    border-radius: 5px;  
}

.product-image1{
    position: relative;
    width: 100%;
    height: 245px;
    overflow: hidden;
}

.product-thumb1{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.usage1{
    width: auto;
    height: 27px;
    padding: 0px;
    background: #ee7c19;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}

.discount-tag1{
    position: absolute;
    background: #ee7c19;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    right: 72%;
    top: 10px;
    text-transform: capitalize;
    opacity: 1;
}

.card-btn1{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    color: #fff;
    outline: none;
    font-weight: bold;
    background: #ee7c19;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card1:hover .card-btn1{
    opacity: 5;
}

.product-info1{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand1{
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 4px;
    color: black;
    text-decoration: none;
}

.product-short-des1{
    text-transform: none;
    font-size: 15px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    color: black;
    opacity: 1;
}

.price1{
    font-weight: bold;
    font-size: 20px;
}

.actual-price1{
    margin-left: 10px;
    opacity: 0.5;
    font-size: 20px;
    text-decoration: line-through;
}

.collection-container{
    width: 100%;
    display: grid;
    padding: 40px;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.collection{
    position: relative;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.promo{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    margin-top: 30px;
}

.promo img{
    height: 500px;
    width: 900px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    display: inline-block;
}

.promotextbg{
    background: deeppink;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.promotext{
    position: relative;
    margin-left: 40px;
    color: white;
    font-family: monospace;
    font-size: 80px;
    text-transform: capitalize;
    margin-top: 60px;
}

.feature{
    width: 430px;
    height: 500px;
    display: grid;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    margin-left: 30px;
}

.feature1text{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: red;
    margin: 10px;
    margin-left: 30px;
}

.feature2text{
    font-family: sans-serif;
    font-size: 25px;
    color: #f7a81b;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30px;
}

.feature3text{
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 22px;
    width: fit-content;
    margin-right: 0px;
}

.feature1{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    height: 100px;
    border: 2px solid red;
}

.feature1img{
    width: 180px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
}

.feature2{
    background-color: #fff;
    border: 2px solid #f7a81b;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.feature2img{
    width: 110px;
    height: 100px;
    margin-left: 90px;
    margin-right: 40px;
    margin-top: 10px;
}

.feature3{
    background-color: #fff;
    border: 2px solid black;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.feature3img{
    width: 110px;
    height: 100px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 5px;
}

.collection-container1{
    width: 100%;
    display: grid;
    margin-top: 30px;
    padding: 40px;
    padding-bottom: 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.collection1{
    position: relative;
}

.collection1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.collection1 p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.sub-header{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}

.feature-2{
    padding: 50px;
    padding-top: 45px;
    border-radius: 10px;
    border: none;
}

.feature-2s{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.feature-2s img{
    width: 560px;
    height: 410px;
    border-radius: 10px 0px 0px 10px;
}

.feature-2s-sub{
    padding: 50px;
    background: yellow;
    border-radius: 0px 10px 10px 0px;
    width: 430px;
    border: 2px solid #ff7828;
}

.feature-2s-text{
    font-size: 45px;
    color: #ff7828;
    font-family: monospace;
    text-align: left;
}

.know-more{
    font-size: 30px;
    color: white;
    font-family: monospace;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    background: #ff7828;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    padding: 5px;
}

.promo2{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 40px;
    padding-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}

.promo2 img{
    height: 500px;
    width: 900px;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    display: inline-block;
}

.promotextbg2{
    background: #fffdd0;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.promotext2{
    position: relative;
    margin-left: 40px;
    color: orange;
    font-family: monospace;
    font-size: 80px;
    text-transform: capitalize;
    margin-top: 100px;
}

