.order-section{
    width: 93.5%;
    padding: 20px 4vw;
    background: #dbf3ff;
    display: flex;
    border-radius: 10px;
    margin: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.order-heading{
    font-size: 30px;
    margin: 20px 0;
    border: #1fa4cc 1px solid;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}

.no-orders-img1{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    border: 1px solid #1fa4cc;
    border-radius: 10px;
    display: block;
    padding: 20px;
}

.no-orders-img2{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    border: 1px solid #1fa4cc;
    border-radius: 10px;
    display: block;
    padding: 20px;
}

.hide{
    display: none;
}

.product-list{
    width: 40%;
    margin-left: 15px;
}

.history-list{
    width: 40%;
    margin-right: 20px;
}

.order .history{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sm-product{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #1fa4cc;
    padding: 20px;
    padding-left: 0px;
}

.cart .sm-product:last-child{
    margin-bottom: 0px;
}

.sm-product-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.sm-text{
    width: 50%;
    margin-left: 20px;
}

.sm-product-name{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}

.status{
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 5px;
}

.status-ans{
    font-weight: bold;
}

.item-counter{
    width: 90px;
    height: 30px;
    display: flex;
    margin-right: 20px;
}

.sm-price{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.sm-delete-btn{
    position: absolute;
    top: 5%;
    left: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: #fff;
    cursor: pointer;
}

.sm-delete-btn img{
    width: 20px;
    height: 20px;
}

.quantity{
    background: #1fa4cc;
    color: white;
    font-size: 15px;
    padding: 3px;
    padding-top: 6px;
    padding-left: 5px;
    align-items: center;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
}

.item-count{
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    line-height: 30px;
    background: #1fa4cc;
    color: white;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 2px;
}

.loader{
    position: fixed;
    display: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #1fa4cc;
}

.order-heading2{
    font-size: 30px;
    margin: 20px;
    margin-left: 0px;
    border: #1fa4cc 1px solid;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}

.delete-alert{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-img1{
    height: 20px;
    width: 20px;
    border: none;
}

.delete-alert{
    display: none;
}

.alert1{
    width: 350px;
    height: auto;
    border-radius: 10px;
    background: #fff;
    position: fixed;
    padding: 15px;
}

.close-btn{
    position: absolute;
    border: none;
    top: 15px;
    right: 15px;
    background: none;
    cursor: pointer;
}

.del-warn-img{
    height: 200px;
    width: 200px;
    margin-left: 70px;
    margin-top: 20px;
}

.del-warn-text{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.del1-btn{
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    background: #ff3e3e;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-left: 125px;
}
  