body{
    padding-bottom: 75px;
}

body{
    overflow-x: hidden;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1fa4cc; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1fa4cc; 
  }

.product-details{
    width: 90%;
    padding: 60px 8vw;
    padding-left: 6vw;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    margin-left: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-images{
    position: sticky;
    width: 400px;
    margin: 30px;
    margin-right: 0px;
    margin-top: 40px;
    background: transparent;
    height: 400px;
    align-items: center;
    border: 1px solid black;
    box-shadow: 5px 5px #383838;
}

.image{
    width: 100%;
    height: 100%;
}

.details{
    width: 52.5%;
    border-left: 2px solid #1fa4cc;
    padding-left: 20px;
}

.details .product-brand{
    font-size: 35px;
}

.usage{
    font-size: 20px;
    color: #1fa4cc;
    background: white;
    text-transform: capitalize;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #1fa4cc;
    width: fit-content;
    line-height: 40px;
    padding: 5px;
}

.use{
    font-size: 21px;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    text-transform: capitalize;
    font-weight: bold;
    background: #1fa4cc;
    line-height: 40px;
    padding: 5px;
}


.details .product-short-des{
    font-size: 22px;
    line-height: 22px;
    height: auto;
    margin: 5px 0 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}

.div1{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.product-price{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.product-actual-price{
    font-size: 23px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount{
    color: rgb(255, 40, 40);
    font-weight: 500;
    border-radius: 5px;
    font-size: 23px;
    margin-left: 10px;
    line-height: 30px;
}

.div2{
    margin-top: 40px;
    margin-bottom: 20px;
}

.div3{
    margin-bottom: 40px;
}

.seller{
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
}

.sold-by{
    font-weight: 300;
    font-size: 21px;
    font-weight: bold;
    background: #000000;
    color: #fff;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
}

.product-sub-heading{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 300;
}

.quantity{
    width: 70%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 0.1px solid #1fa4cc;
    background: none;
    color: #000000;
    outline: none;
    font-size: large;
    font-weight: bold;
}

.btn{
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    box-shadow: 5px 5px #383838;
    border: 2px solid #1fa4cc;
    color: #1fa4cc;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    text-transform: capitalize;
}

.cart-btn{
    margin-right: 2%;
    background: #1fa4cc;
    color: #fff;
}

.detail-des{
    width: 90%;
    padding: 40px 8vw;
    padding-left: 4vw;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    margin-left: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: capitalize;
}

.heading{
    font-size: 30px;
}

.des{
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.product-container3{
    padding-left: 3.6vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
}

.product-container3::-webkit-scrollbar{
    display: none;
}

.pro-imgs{
    width: 90%;
    padding: 40px 8vw;
    padding-left: 4vw;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    margin-left: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pro-imgs div{
    background-color: #fff;
    border: 1px solid #1fa4cc;
    height: 400px;
    width: 400px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.pro-imgs img{
    height: 398px;
    width: 398px;
    margin: auto;
    padding: auto;
}

.product-category{
    padding: 0px;
    margin: 0px;
    margin-top: 60px;
    margin-left: 55px;
}

.product-spec{
    width: 90%;
    padding: 40px 8vw;
    padding-left: 4vw;
    padding-bottom: 3.5vw;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    margin-left: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ex-details{
    margin-top: 42px;
    height: fit-content;
}

.expiry{
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid red;
    padding: 5px;
    width: fit-content;
    margin-top: 30px;
    color: red;
}

.expiry-date{
    font-weight: 300;
    font-size: 20px;
    font-weight: bold;
    background: red;
    color: #fff;
    padding: 6px;
    border-radius: 0px 5px 5px 0px;
    margin-top: 30px;
    width: fit-content;
}

.man{
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid purple;
    color: purple;
    padding: 5px;
    width: fit-content;
    margin-top: 20px;
}

.man-date{
    font-weight: 300;
    font-size: 20px;
    font-weight: bold;
    background: purple;
    color: #fff;
    padding: 6px;
    border-radius: 0px 5px 5px 0px;
}

.per{
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(255, 89, 0);
    color: rgb(255, 89, 0);
    padding: 5px;
    width: fit-content;
    margin-top: 20px;
}

.per-ans{
    font-weight: 300;
    font-size: 21px;
    font-weight: bold;
    background: rgb(255, 89, 0);
    color: #fff;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
}

.stock{
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid darkgreen;
    color: darkgreen;
    padding: 5px;
    width: fit-content;
    margin-top: 20px;
}

.stock-ans{
    font-weight: 300;
    font-size: 21px;
    font-weight: bold;
    background: darkgreen;
    color: #fff;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
}

.pin-check{
    margin-left: 258px;
    border-left: 2px solid rgb(255, 89, 0);
    padding-left: 20px;
}

.pin-field{
    display: flex;
    margin-top: 30px;
    width: fit-content;
    border-bottom: 1px solid rgb(255, 1, 166);
    padding-bottom: 25px;
}

.check-box{
    width: 500px;
    height: 50px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(255, 1, 166);
    background: none;
    color: rgb(255, 1, 166);
    outline: none;
    font-size: 20px;
}

.check-btn{
    width: 20%;
    height: 50px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(255, 1, 166);
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.check-box::placeholder{
    color: rgb(255, 1, 166);
    font-size: 20px;
    padding: 5px;
}

.pin-ans{
    margin-top: 23px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px;
    padding-top: 11px;
}

.pin-ans1{
    color: darkgreen;
    font-size: 20px;
    margin-left: 5px;
}

.alert-box{
    width: 310px;
    min-height: 310px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.alert-box.show{
    opacity: 1;
    pointer-events: all;
    top: 70%;
}

.alert-img{
    display: block;
    height: 60px;
    margin-top: 25%;
    margin-left: 38%;
    margin-bottom: 10%;
}

.alert-msg{
    color: #e24c4b;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.loader{
    position: fixed;
    display: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #1fa4cc;
}

.hide{
    display: none;
}