.search-results{
    width: 100%;
    padding-top: 0px;
}

.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 60px;
    padding: 0 4vw;
    margin-left: 10px;
}

.heading span{
    font-weight: 700;
}

.product1{
    position: relative;
    width: auto;
    height: auto;
    padding: 0%;
    justify-content: center;
    align-content: center;
}

.product-container1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    padding-left: 20px;
    height: auto;
    width: auto;
}

.product-container1::-webkit-scrollbar{
    display: none;
}

.product-card1{
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 5px #383838;
    border: 1px solid black;
    border-radius: 5px;  
}

.product-image1{
    position: relative;
    width: 100%;
    height: 245px;
    overflow: hidden;
}

.product-thumb1{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-usage1{
    width: auto;
    height: 27px;
    padding: 0px;
    background: #1fa4cc;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}

.discount-tag1{
    position: absolute;
    background: #1fa4cc;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    right: 72%;
    top: 10px;
    text-transform: capitalize;
    opacity: 1;
}

.card-btn1{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    color: #fff;
    outline: none;
    font-weight: bold;
    background: #1fa4cc;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card1:hover .card-btn1{
    opacity: 5;
}

.product-info1{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand1{
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 4px;
    color: black;
    text-decoration: none;
}

.product-short-des1{
    text-transform: none;
    font-size: 15px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    color: black;
    opacity: 1;
}

.price1{
    font-weight: bold;
    font-size: 20px;
}

.actual-price1{
    margin-left: 10px;
    opacity: 0.5;
    font-size: 20px;
    text-decoration: line-through;
}

.collection-container{
    padding-top: 0%;
    padding-bottom: 10%;
}

.next-btn, .prev-btn{
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 94%;
    right: 5%;
    margin-top: 50px;
    background: #1fa4cc;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.prev-btn{
    left: 90%;
    transform: rotate(180deg);
}

.next-btn{
    right: 0;
}

.prev-btn img, .next-btn img{
    opacity: 1;
}

.loader{
    position: fixed;
    display: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #1fa4cc;
}

.hide{
    display: none;
}

.no-result{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 700;
    color: #1fa4cc;
    height: 350px;
    width: 450px;
}
