body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
    font-family: roboto, san-serif;
    margin-bottom: 25px;
    overflow: overlay;
}

::-webkit-scrollbar  {
    display: none;
}

.alert-box {
    width: 310px;
    min-height: 310px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

.alert-box.show {
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.alert-img {
    display: block;
    height: 50px;
    margin-top: 28%;
    margin-left: 40%;
    margin-bottom: 10%;
}

.alert-msg {
    color: #e24c4b;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.loader {
    position: absolute;
    display: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    border-radius: 30px;
    background: #fff;
    border: 1px solid #1fa4cc;
}

.become-seller {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #1fa4cc4a;
    padding: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.hide {
    display: none;
}

.heading-1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
}

.desc {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: none;
    line-height: 25px;
}

.btnseller {
    border: none;
    outline: none;
    background-color: #1fa4cc;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.sub-btn {
    margin: 20px;
    border: none;
    width: 100px;
    outline: none;
    background-color: #1fa4cc;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.apply-form {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #1fa4cc4a;
    padding: 20px;
    margin-top: 20px;
    padding: 20px;
}

.hide {
    display: none;
}

.heading-2 {
    margin: 20px;
    font-weight: 0;
}

.business-name {
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 20px;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'roboto', sans-serif;
}

.business-add {
    display: block;
    width: 50%;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 20px;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'roboto', sans-serif;
}

.about {
    display: block;
    width: 50%;
    height: 130px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 20px;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'roboto', sans-serif;
}

.number {
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 20px;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'roboto', sans-serif;
}

.pincode {
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 20px;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: 'roboto', sans-serif;
}

.checkbox {
    appearance: none;
    margin-left: 20px;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #1fa4cc;
    cursor: pointer;
}

.checkbox:checked {
    background: #1fa4cc;
}

.checkbox::after {
    content: '';
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    pointer-events: none;
    background-image: url(../images/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.checkbox:checked::after {
    display: block;
}

.product-list {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #1fa4cc4a;
    padding: 20px;
}

.hide {
    display: none;
}

.add-product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    margin-bottom: 35px;
}

.heading-3 {
    border: #1fa4cc 1px solid;
    padding: 15px;
    border-radius: 25px;
    margin-left: 22px;
    margin-top: 5px;
}

.heading-4 {
    margin-top: 35px;
    margin-left: 32px;
    margin-bottom: 35px;
    border: 1px solid #1fa4cc;
    width: fit-content;
    padding: 15px;
    border-radius: 25px;
}

.heading-5 {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 32px;
    border: 1px solid #1fa4cc;
    width: fit-content;
    padding: 15px;
    border-radius: 25px;
}

.no-product-pic {
    margin-left: 35%;
    display: flex;
}

.add-product-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    width: 150px;
    outline: none;
    background-color: #1fa4cc;
    border-radius: 25px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    height: auto;
    width: auto;
    padding-bottom: 40px;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 300px;
    height: 425px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-left: 33px;
    margin-right: 30px;
    box-shadow: 5px 5px #383838;
    border: 1px solid black;
    border-radius: 25px;  
    background: #fff;
}

.product-image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.product-image img {
    display: block;
    margin: auto;
}

.product-thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-info {
    width: 100%;
    height: 75px;
    padding-top: 10px;
    padding: 0px;
}

.product-brand {
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 4px;
}

.product-shortdesc {
    text-transform: none;
    font-size: 15px;
    padding: 0px;
    margin-bottom: 2px;
}

.product-usage {
    width: auto;
    height: 30px;
    padding: 0px;
    background: #1fa4cc;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}

.discount-tag {
    position: absolute;
    background: #f73030;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    right: 72%;
    top: 10px;
    text-transform: capitalize;
}

.price {
    font-weight: bold;
    font-size: 20px;
}

.actual-price {
    margin-left: 10px;
    opacity: 0.5;
    font-size: 20px;
    text-decoration: line-through;
}

.action-btn {
    opacity: 0;
    position: absolute;
    left: 75%;
    top: 10px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .5s;
    background: #1fa4cc;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    color: white;
}

.edit-btn {
    top: 20px;
}

.open-btn {
    top: 60px;
}

.delete-btn {
    top: 100px;
    background-color: red;
}

.disable-btn {
    top: 140px;
    background-color: grey;
}

.delete-alert {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-img {
    height: 20px;
    width: 20px;
    border: none;

}

.delete-alert {
    display: none;
}

.alert {
    width: 350px;
    height: auto;
    border-radius: 30px;
    background: #fff;
    position: fixed;
    padding: 15px;
}

.close-btn {
    position: absolute;
    border: none;
    top: 15px;
    right: 15px;
    background: none;
    cursor: pointer;
}

.del-warn-img {
    height: 200px;
    width: 200px;
    margin-left: 70px;
    margin-top: 20px;
}

.del-warn-text {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.del-btn {
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    background: #ff3e3e;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-left: 125px;
    font-size: 18px;
}

.product-status {
    width: 100%;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: red;
    top: 86%;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    opacity: 2;
}

.product-card:hover .action-btn {
    opacity: 5;
    pointer-events: all;
}

.hide {
    display: none;
}

.no-products-img,
.no-orders-img,
.no-history-img {
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    margin-left: 10px;
}

.order-histroy-list {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #1fa4cc4a;
    padding: 20px;
}

.order-list {
    margin-top : 15px;
    padding-bottom: 0px;
}

.order-container,
.order-history-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    height: auto;
    width: auto;
    padding-bottom: 40px;
}

.change-status-btn {
    position: absolute;
    top: 86%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2px;
    width: 90%;
    height: 35px;
    text-transform: capitalize;
    border: none;
    color: #fff;
    outline: none;
    font-weight: bold;
    background: #1fa4cc;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    font-size: 18px;
}

.cancel-btn {
    top: 70px;
    background-color: grey;
}

.num {
    position: absolute;
    background: #1fa4cc;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #fff;
    right: 88%;
    top: 10px;
    text-transform: capitalize;
}

.product-card-order {
    flex: 0 0 auto;
    width: 300px;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 33px;
    margin-right: 30px;
    box-shadow: 5px 5px #383838;
    border: 1px solid black;
    border-radius: 25px;  
    background: #fff;
}

.address-order {
    border: 1px solid #1fa4cc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.add-text-title {
    color: #1fa4cc;
    font-weight: bold;
    text-transform: capitalize;
}

.add-text {
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.product-card-order:hover .action-btn {
    opacity: 5;
    pointer-events: all;
}

.price-seller {
    font-size: 20px;
    border: 1px solid crimson;
    color: crimson;
    padding: 2px;
    margin-top: 10px;
    padding-left: 5px;
    border-radius: 5px;
}

.price-seller-ans {
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    padding-top: 1px;
    padding-right: 3px;
    font-weight: bold;
}

.quan {
    margin-left: 10px;
    font-size: 20px;
    border: 1px solid deeppink;
    color: deeppink;
    padding: 2px;
    padding-left: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.quan-ans {
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 1px;
    padding-right: 3px;
}

.container {
    border: #1fa4cc 1px solid;
    border-radius: 20px;
    width: fit-content;
	position: relative;
	align-items: center;
	justify-content: center;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.tabs {
	display: flex;
	background-color: none;
	border-radius: 20px; 
	z-index: 2;
}

input[type="radio"] {
    color: #1fa4cc;
	display: none;
}

input[type="radio"]:checked + label  {
    background-color: #1fa4cc;
    color: #fff;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 150px;
	font-size: 20px;
	border-radius: 20px; 
	cursor: pointer;
    color: #1fa4cc;
}
